doctype 5
html

  head
    block scripts
      script(src='/socket.io/socket.io.js')

  body

    #container

    script(type='text/javascript')

      var socket = io.connect('http://localhost')

      //
      // register viewport
      //
      socket.on( 'event:client:start', function(data) {
        socket.emit('event:register:viewport')
      });


      //
      // display QRcode
      //
      socket.on( 'event:register:viewport:ok', function(imageTag) {
        document.getElementById('container').innerHTML = imageTag
      });


      //
      // handle reset 
      // controller disconnected, resend register
      // 
      socket.on( 'event:reset', function(data) {
        socket.emit('event:register:viewport')
      });


      //
      // controller event 
      // more hackery just to see it working...
      // 
      // pending clientside script stack
      //

      socket.on( 'event:orient', function(xyz) {
        document.getElementById('container').innerHTML = xyz
      });
