doctype 5
html

  head
    block scripts
      script(src='/socket.io/socket.io.js')

  body

    #controller

    #orientation|orientation

    #pointers|pointers

    #keypad|keypad

    

    script(type='text/javascript')

      var socket = io.connect()

      //
      // register viewport
      //
      socket.on( 'event:client:start', function(data) {
        socket.emit('event:register:viewport')
      });


      //
      // display QRcode
      //
      socket.on( 'event:register:viewport:ok', function(imageTag) {
        document.getElementById('controller').innerHTML = imageTag
      });

      //
      // a controller has grabbed this viewport
      // 
      socket.on( 'event:assigned', function(data) {
        document.getElementById('controller').innerHTML = JSON.stringify(data)
      });


      //
      // handle reset 
      // controller disconnected, resend register
      // 
      socket.on( 'event:reset', function(data) {
        socket.emit('event:register:viewport')
        document.getElementById('orientation').innerHTML = "orientation"
        document.getElementById('pointers').innerHTML = "pointers"
        document.getElementById('keypad').innerHTML = "keypad"
      });


      //
      // controller event 
      // more hackery just to see it working...
      // 
      // pending clientside script stack
      //

      socket.on( 'event:orient', function(xyz) {
        document.getElementById('orientation').innerHTML = xyz
      });


      socket.on( 'event:touch', function(data) {
        document.getElementById('pointers').innerHTML = JSON.stringify(data)
      });


      socket.on( 'event:keypad', function(data) {
        document.getElementById('keypad').innerHTML = JSON.stringify(data)
      });


