doctype 5
html( ng-app = 'gimbal' )
  head
    title= title
    block scripts 
        script(src='javascripts/angular-1.0.2/angular.js')
        script(src='javascripts/angular-1.0.2/angular-cookies.js')
        script(src='javascripts/angular-1.0.2/angular-resource.js')
        script(src='javascripts/angular-ui-0.3.1/angular-ui.js')
        script(src='javascripts/namespace.coffee-1.0.1/namespace.js')
        script(src='javascripts/three-r53/three.js')
    != css('gimbal')

  body
    block content
    != js('manifest')
