body {
    background-color: #555555;
    margin: 0px;
    overflow: hidden;
    font-family: "Helvetica";
    font-style: lighter;
}

.ui {
    position: absolute;
    z-index: 1;
}

.button {
    cursor: pointer;
    color: white;
    border: 1px solid white;
    height: 20px;
    width: 100px;
    text-align: center;
}