extends layout

block content

    div.loading-splash
        div.logo
            div.logo.g
                |g
            div.logo.i
                |i
            div.logo.m
                |m
            div.logo.b
                |b
            div.logo.a
                |a
            div.logo.l
                |l
            a.credit( href='' )
                |a nomilous production

    gimbal-session( ui-toggle = '!ready' )

    gimbal-viewport()


