body
    background-color rgba(0,0,0,1)

div.loading-splash
    position absolute  
    top 30%
    left 50%
    width 0px
    
div.logo
    position absolute
    color rgba(200,180,180,1)
    font-family "Lucida Console", Monaco, monospace
    text-align center
    font-size 30px

div.logo.g
    left -100px

div.logo.i
    left -60px

div.logo.m
    -webkit-transform rotate(45deg)
    -moz-transform rotate(45deg)
    transform rotate(45deg)
    left -20px
    top -3px
    font-size 35px

div.logo.b
    left 20px

div.logo.a
    left 60px

div.logo.l
    left 97px

.credit
    position absolute
    text-decoration none
    font-size 10px
    top 40px
    left -90px
    width 200px
    color rgba(180,180,200,1)
